*{
    margin: 0;
    padding: 0;
}


.error-background-admin{
    background-image: url(../src/Pictures/Admin.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.error-background-user{
    background-image: url(../src/Pictures/User.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}